.button-solo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: $border-radius;
  background-color: $secondary-color-dark;
  font-family: $gteesti-font-regular;
  font-size: $sm-font-size;
  color: $primary-color;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $secondary-color;
  }

  &--clicked {
    background-color: $button-color;

    &:hover {
      background-color: $primary-color-darker;
    }
  }

  svg {
    stroke: $primary-color;
  }
}